$one-color: #8F8F8F;
$two-color: #4D1F5B;
$three-color: #EEE4F1;
$four-color: #000000;
$five-color: #FFFFFF;
$six-color: #643762;
$seven-color: #F3F3F3;
$eight-color: #81CE7F;
$nine-color: #D85252;
$ten-color: #643762;
$eleven-color: #C1B6B6;
$twelve-color: #F9F9F9;
$thirty-color: #C1B6B6;
$forthy-color: #BBBBBB;
$fifty-color: #563461;
$sixty-color: #BEA1C7;
$seventy-color: #EEE4F1;